<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <main class="main">
        <h1>Sussie Queue</h1>
        <div >
            <h6>Essay topics</h6>
            <h6>Essay topics</h6>
            <h6>Essay topics </h6>
            <h6>Essay topics </h6>
            <h6>Essay topics </h6>
        </div>
        <hr>
        <section class="skills"></section>
        <h2>SKILLS</h2>
        <div class="item">
            <p><strong>Language</strong> Essay topics in English</p>
        </div>
        <div class="item">
            <p><strong>Language Essay topics in English Essay topics in English</strong></p>
        </div>
        <div class="item">
            <p><strong>Language</strong> Essay topics in English Essay topics in English</p>
        </div>
        <div class="item">
            <p><strong>Language</strong> Essay topics in English Essay topics in English Essay topics in English</p>
        </div>
        <hr>

        <section class="employement"></section>
        <h3>Employement</h3>
        <h4>Essay topics in English</h4>
        <p>Essay topics in English</p>
        <div class="item"></div>
        <h3>Essay topics in English</h3>
        <div>
            <ul class="list">
                <li>Essay topics in English</li>
                <li >Essay topics in English</li>
                <li class="third_li">Essay topics in English</li>
            </ul>
        </div >
        <div class="item">
        <h4>Essay topics in English</h4>
        <p>Essay topics in English</p>
        </div>
        <div>
            <ul class="list">
                <li>Essay topics in English</li>
                <li >Essay topics in English</li>
                <li class="third_li">Essay topics in English</li>
            </ul>
        </div>
        <div class="item">
        <h4>Essay topics in English</h4>
        <p>Essay topics in English</p>
        </div>
        <div class="item">
            <h4>Essay topics in English</h4>
            <ul class="list">
                <li>Essay topics in English</li>
                <li >Essay topics in English</li>
                <li >Essay topics in English</li>
                <li >Essay topics in English</li>
                <li class="third_li">Essay topics in English</li>
            </ul>
        </div>
        <hr>
        <div>
            <h4>Essay topics in English</h4>
            <p>Essay topics in English</p>
        </div>
        <div class="list">
            <h4>Essay topics in English</h4>
            <p>Essay topics in English</p>
            <p>Essay topics in English</p>
        </div>
        <h4>Essay topics in English</h4>
        <div class="list">
            <h4>Essay topics in English</h4>
            <p>Essay topics in English</p>
            <p>Essay topics in English</p>
        </div>
        <hr>
        <h3>Employement</h3>
        <h4>Essay topics in English</h4>
        <div class="list">
            <h4>Essay topics in English</h4>
            <p>Essay topics in English</p>
            <p>Essay topics in English</p>
        </div>
        <h3>Employement</h3>
        <div class="list">
            <h4>Essay topics in English</h4>
            <p>Essay topics in English</p>
            <p>Essay topics in English</p>
        </div>
        <hr>





        



    </main>

</body>
</html>